<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: head ('회원가입')}">
    <title></title>
</head>
<body>
<div class="bg-body-secondary vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="bg-body w-25 p-5 rounded shadow mb-5">
        <div class="mb-3">
            <a th:href="@{/login}" class="link-underline link-underline-opacity-0">
                <i class="fa-solid fa-arrow-left me-2"></i>로그인
            </a>
        </div>

        <div class="mb-5 d-flex justify-content-center">
            <img th:src="@{/images/mega-logo.png}" src="https://placehold.co/72" alt="" width="72" height="72">
        </div>
        <div class="h4 text-center mb-5 fw-bold">MegaVNC 회원가입</div>

        <form method="post" th:action="@{/register}" th:object="${user}">


            <div class="form-group mb-3">
                <label for="group">그룹</label>
                <div th:if="${#fields.hasErrors('groupName')}" class="text-danger">
                    <div th:errors="*{groupName}" class="card-body"></div>
                </div>
                <select class="form-control" id="group" name="groupName">
                    <option value="defaultGroup">--그룹을 선택해 주세요--</option>
                    <option th:each="group : ${groups}" th:value="${group.groupName}" th:text="${group.getGroupName()}" th:selected="${group.groupName == selectedGroup}"></option>
                </select>
            </div>


            <div class="mb-3">
                <label for="username" >사용자명</label>
                <div th:if="${#fields.hasErrors('username')}" class="text-danger">
                    <div th:errors="*{username}" class="card-body"></div>
                </div>
                <input type="text" id="username" name="username" autofocus="autofocus" class="form-control" th:value="${username}">
            </div>


            <div class="mb-3">
                <label for="password" >비밀번호</label>
                <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                    <div th:errors="*{password}" class="card-body"></div>
                </div>
                <input type="password" id="password" name="password" class="form-control" th:value="${password}">
            </div>


            <div class="mb-5">
                <label for="passwordConfirm" >비밀번호 확인</label>
                <div th:if="${#fields.hasErrors('passwordConfirm')}" class="text-danger">
                    <div th:errors="*{passwordConfirm}" class="card-body"></div>
                </div>
                <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" th:value="${passwordConfirm}">
            </div>


            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">회원가입</button>
            </div>
        </form>
    </div>

    <a href="https://www.megabridge.co.kr/" target="_blank" class="text-secondary">MegaBridge</a>
</div>
</body>
</html>