<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: head ('회원가입')}">
    <title></title>
</head>
<body>
<div class="bg-body-secondary vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="bg-body w-25 p-5 rounded shadow mb-5">
        <div class="mb-3">
            <a th:href="@{/login}" class="link-underline link-underline-opacity-0">
                <i class="fa-solid fa-arrow-left me-2"></i>로그인
            </a>
        </div>

        <div class="mb-5 d-flex justify-content-center">
            <img th:src="@{/images/mega-logo.png}" src="https://placehold.co/72" alt="" width="72" height="72">
        </div>
        <div class="h4 text-center mb-5 fw-bold">MegaVNC 회원가입</div>

        <form method="post" th:action="@{/register}" th:object="${user}">
            <div th:if="${#fields.hasErrors('username')}" class="card text-bg-danger mb-3">
                <div th:errors="*{username}" class="card-body"></div>
            </div>

            <div th:if="${#fields.hasErrors('passwordConfirm')}" class="card text-bg-danger mb-3">
                <div th:errors="*{passwordConfirm}" class="card-body"></div>
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">사용자명</label>
                <input type="text" id="username" name="username" autofocus="autofocus" class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>

            <div class="mb-5">
                <label for="passwordConfirm" class="form-label">비밀번호 확인</label>
                <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control">
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">회원가입</button>
            </div>
        </form>
    </div>

    <a href="https://www.megabridge.co.kr/" target="_blank" class="text-secondary">MegaBridge</a>
</div>
</body>
</html>