<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head ('그룹 관리')}">
    <meta charset="UTF-8">
    <title>MegaVNC</title>
</head>
<body class="bg-body-secondary">
<script src="/js/groups/groups.js"></script>
<header><nav th:replace="~{fragments/nav :: nav ('admin')}"></nav></header>

<div class="container py-5">
    <div class="bg-body rounded p-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="fw-bold mb-3 text-primary-emphasis">접속/종료 로그</h4>
            <div class="justify-content-end">
                <button class="btn btn-success p-2 fileBackPageBtn" onclick="history.back();" type="button">
                    <i class="fas fa-arrow-left me-2"> 이전페이지</i>
                </button>
            </div>
        </div>

        <table class="table table-hover align-middle mb-5">
            <thead>
            <tr>
                <th scope="col">그룹 이름</th>
                <th scope="col">PC 이름</th>
                <th scope="col">구분</th>
                <th scope="col">IP</th>
                <th scope="col">Reconnect Id</th>
                <th scope="col">로그 일자</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="accessLog : ${accessLogs}" class="data-row">
                <td th:text="${accessLog.groupName}">아이디</td>
                <td th:text="${accessLog.pcName}">이름</td>
                <td th:text="${accessLog.division}">접속/종료</td>
                <td th:text="${accessLog.ip}">IP</td>
                <td th:text="${accessLog.reconnectId}">Reconnect Id</td>
                <td th:text="${#dates.format(accessLog.createdAt, 'yyyy-MM-dd HH:mm:ss')}">로그 일자</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<script>


</script>
</body>
</html>