<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head ('사용자 관리')}">
    <meta charset="UTF-8">
    <title>MegaVNC</title>
</head>
<body class="bg-body-secondary">
<script src="/js/users/users.js"></script>
<header><nav th:replace="~{fragments/nav :: nav ('admin')}"></nav></header>

<div class="modalBackWrap displayNone" onclick="handleBackWrapClick(event)">
    <div class="addWrap">
        <button type="button" class="btn-close closeButton" onclick="cancelUser();"></button>
        <p class="modalTitleName">사용자 추가</p>

        <p class="valuesTitle">사용자명 <span class="failMessage failMessageUserName"></span></p>
        <input type="text" class="modalInput userName">

        <p class="valuesTitle">비밀번호 <span class="failMessage failMessageUserPassword"></span></p>
        <input type="password" class="modalInput userPassword">

        <p class="valuesTitle">비밀번호 확인 <span class="failMessage failMessageCheckUserPassword"></span></p>
        <input type="password" class="modalInput checkUserPassword">

        <p class="ajaxFailMessage"></p>

        <button class="btn btn-success addButton" onclick="requestRegistUser();" type="button">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-solid fa-user me-2"><span class="addButtonText">사용자 추가</span></i>
        </button>
    </div>
</div>

<!--<div th:if="${error}" class="card text-bg-danger mb-3" id="errorMessageCard">-->
<!--    <div class="card-body" th:text="${errorMessage}"></div>-->
<!--</div>-->
<div class="container py-5">

    <div class="bg-body rounded p-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="fw-bold mb-3 text-primary-emphasis">사용자 목록</h4>
            <div class="justify-content-end">
                <button class="btn btn-success p-2" onclick="registUser();" type="button">
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-user me-2"> 사용자 추가</i>
                </button>
            </div>
        </div>

        <table class="table table-hover align-middle mb-5">
            <thead>
            <tr>
                <th scope="col">아이디</th>
                <th scope="col">이름</th>
                <th scope="col">등록일</th>
                <th scope="col">그룹 배정</th>
                <th scope="col">삭제</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users}" class="data-row">

                <td th:text="${user.id}">아이디</td>
                <td th:text="${user.username}">이름</td>
                <td th:text="${#dates.format(user.createdAt, 'yyyy-MM-dd HH:mm:ss')}">등록일</td>
                <td>
                    <a th:href="@{/admin/assign/{memberId}(memberId=${user.id})}" class="btn btn-primary">
                        <i class="fa-solid fa-users me-2"></i>그룹 배정
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/users/delete/{memberId}(memberId=${user.id})}"
                       onclick="return confirm('정말로 삭제하시겠습니까?');" class="btn btn-danger ">
                        <i class="fa-solid fa-trash-alt me-2"></i>삭제
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>