.listWrap{
    text-align: center;
    margin-top: 8%;
}
.list{
    background-color: #eaeee4;
    border-radius: 15px;
    width: 36%;
    height: 250px;
    float: left;
    margin-left: 9%;
    transition: transform 0.3s ease;
    overflow: hidden;
}
.list:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.imgLineWrap{
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
    padding: 10px;
    margin-left: -30%;
    margin-top: 10px;
    transition: margin-left 0.8s ease-in-out;
}
.menuImg{
    width: 80%;
}
.menuNumber{
    margin-top: 25%;
    font-size: 45px;
    color: #c7c7b8;
    font-weight: bold;
}
.menuTitle{
    font-size: 30px;
    font-weight: bold;
    color: #eaeee4;
    text-align: left;
    margin-left: 38%;
    margin-top: 8%;
    transition: color 0.4s ease-in-out;
}
.menuNotice{
    font-size: 14px;
    color: #787878;
    margin-left: 38%;
    padding-right: 54px;
    text-align: left;
    transition: margin-top 0.4s ease-in-out;
    margin-top: -40%;
}
.fileBackSpace{
    height: 75vh;
}