<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:--bs-bg-opacity="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: head ('파일 다운로드')}">
    <title>MegaVNC</title>
</head>
<body class="bg-body-secondary">
<link rel="stylesheet" href="/css/files.css">
<script src="/js/files/files.js"></script>
<script src="/js/sweetAlert2.min.js"></script>

<div class="container py-5"> <!-- class displayNone -->
    <div class="bg-body rounded p-4">
        <div class="bg-body rounded p-4">
            <div class="d-flex justify-content-between align-items-center mb-3">

                <div class="logoWrap">
                    <img class="downloadPageLogo" src="/images/mega-logo.png">
                    <p class="downloadPageTitle">MegaVnc 파일 다운로드</p>
                </div>

                <div class="justify-content-end">
                    <!--                    <button onclick="goBack()" class="btn btn-success p-2" type="button">-->
                    <!--                        <i class="custom-margin-left fa-solid fa-arrow-left me-2" aria-hidden="true"> 뒤로가기</i>-->
                    <!--                    </button>-->
                </div>
            </div>

            <table style="text-align: center" id="file-table-body" class="table table-hover align-middle mb-5">
                <thead>
                <tr>
                    <th scope="col">구분</th>
                    <th scope="col">파일이름</th>
                    <th scope="col">업로드 날짜</th>
                    <th scope="col">파일크기</th>
                    <th scope="col">다운로드</th>
                </tr>
                </thead>

                <tbody id="table-body">
                <tr th:each="file : ${files}" class="data-row">
                    <td th:if="${file.reconnectId == 'ADMIN_REQUEST'}" >배포 파일</td>
                    <td th:unless="${file.reconnectId == 'ADMIN_REQUEST'}">전송받은 파일</td>
                    <td th:text="${file.fileName}">파일이름</td>
                    <td th:text="${#dates.format(file.createdAt, 'yyyy-MM-dd HH:mm:ss')}">업로드 날짜</td>
                    <td th:text="${file.fileSize}">파일크기</td>
                    <td>
                        <a th:href="@{/file/download-files/{fileSeq}(fileSeq=${file.seq})}" class="btn btn-primary ">
                            <i class="fa-solid fa-download me-2"></i>다운로드
                        </a>
                    </td>
                </tr>
                <tbody>
            </table>

        </div>
    </div>
</div>

<script type="module" th:src="@{/js/viewer/viewer.js}"></script>
<script src="/js/sweetAlert2.min.js"></script>
<script>
    highlightAdminRows();
    function highlightAdminRows() {
        const rows = document.querySelectorAll('#table-body .data-row');
        rows.forEach(row => {
            const statusCell = row.querySelector('td:first-child');
            if (statusCell && statusCell.innerText === '배포 파일') {
                row.classList.add('gray-background');
            }
        });
    }
</script>
</body>
</html>