<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:--bs-bg-opacity="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: head ('원격 PC 뷰어')}">
    <title>MegaVNC</title>
</head>
<body class="bg-body-secondary">
<link rel="stylesheet" href="/css/files.css">
<script src="/js/files/files.js"></script>
<header th:replace="~{fragments/nav :: nav (${user.username})}"></header>

<div class="container py-5 inputWrap">
    <div class="bg-body rounded p-4">
        <div class="bg-body rounded p-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="fw-bold mb-3 text-primary-emphasis">파일 조회</h4>
                <div class="justify-content-end">
                    <button onclick="excuteSearchQues();" class="btn btn-success p-2" type="button">
                        <i class="custom-margin-left fa-solid fa-search me-2" aria-hidden="true"> 파일 조회</i>
                    </button>
                </div>
            </div>

            <div class="infoLine firstLine">
                <span class="infoTitle">Group :</span>
                <select class="selectGroup">
                    <option th:selected="${selectedGroup == null}" value="All Group">---All Group---</option>
                    <option name="groupName" th:each="group : ${groups}" th:value="${group.groupName}"
                            th:text="${group.groupName}"
                            th:selected="${group.groupName == selectedGroup}"></option>
                </select>
                <span class="searchFailMessage selectGroupFailMessage"></span>
            </div>

            <div class="infoLine">
                <span class="infoTitle">Pc Name :</span>
                <input type="text" class="infoInput pcName" placeholder="Pc Name 을 입력해 주세요.">
                <span class="searchFailMessage pcNameFailMessage"></span>
            </div>

            <div class="infoLine">
                <span class="infoTitle">Access Password :</span>
                <input type="password" class="infoInput accessPassword" placeholder="Access Password 을 입력해 주세요.">
                <span class="searchFailMessage accessPasswordFailMessage"></span>
            </div>

        </div>
    </div>
</div>

<div class="container py-5 displayNone">

    <div class="bg-body rounded p-4">
        <div class="bg-body rounded p-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="fw-bold mb-3 text-primary-emphasis">파일 목록</h4>
                <div class="justify-content-end">
                    <button onclick="goBack()" class="btn btn-success p-2" type="button">
                        <i class="custom-margin-left fa-solid fa-arrow-left me-2" aria-hidden="true"> 뒤로가기</i>
                    </button>
                </div>
            </div>

            <table id="file-table-body" class="table table-hover align-middle mb-5">
                <thead>
                <tr>
                    <th scope="col">아이디</th>
                    <th scope="col">파일명</th>
                    <th scope="col">등록일</th>
                    <th scope="col">다운로드</th>
                </tr>
                </thead>

                <tbody id="table-body"></tbody>
            </table>

        </div>
    </div>
</div>

<script type="module" th:src="@{/js/viewer/viewer.js}"></script>
</body>
</html>