<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MegaVNC</title>
</head>
<body>
<header th:replace="~{/fragments/header.html :: fragment-header}"></header>

<h1 th:text="${user.username}">사용자명</h1>

<h2>원격 PC 목록</h2>

<ul>
    <li th:each="remotePc : ${remotePcs}">
        <span th:text="${remotePc.id}">ID</span> -
        <span th:text="${remotePc.name}">이름</span> -
        <a th:href="@{/viewer(id=${remotePc.id})}">연결</a>
    </li>
</ul>
</body>
</html>