<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head :: head ('원격 PC 목록')}">
    <title>MegaVNC</title>
</head>
<body class="bg-body-secondary">
<header th:replace="~{/fragments/nav :: nav (${user.username})}"></header>

<div class="container py-5">
    <div class="bg-body rounded p-4">
        <h4 class="fw-bold mb-3 text-primary-emphasis">원격 PC 목록</h4>

        <table class="table table-hover align-middle mb-5">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">이름</th>
                <th scope="col">등록일</th>
                <th scope="col">상태</th>
                <th scope="col">접속</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="remotePc : ${remotePcs}">
                <td th:text="${remotePc.id}">ID</td>
                <td th:text="${remotePc.name}">이름</td>
                <td th:text="${#dates.format(remotePc.createdAt, 'yyyy-MM-dd HH:mm:ss')}">등록일</td>
                <th:block th:switch="${#strings.toString(remotePc.status)}">
                    <td th:case="OFFLINE" class="text-secondary">오프라인</td>
                    <td th:case="STANDBY" class="text-success">온라인(대기중)</td>
                    <td th:case="ACTIVE" class="text-info">온라인(사용중)</td>
                </th:block>
                <th:block th:switch="${#strings.toString(remotePc.status)}">
                    <td th:case="OFFLINE">
                        <a class="btn btn-primary disabled">
                            <i class="fa-solid fa-display me-2"></i>접속
                        </a>
                    </td>
                    <td th:case="STANDBY">
                        <a th:href="@{/remote-pcs/{id}(id=${remotePc.id})}" class="btn btn-primary">
                            <i class="fa-solid fa-display me-2"></i>접속
                        </a>
                    </td>
                    <td th:case="ACTIVE">
                        <a th:href="@{/remote-pcs/{id}(id=${remotePc.id})}" class="btn btn-primary">
                            <i class="fa-solid fa-display me-2"></i>접속
                        </a>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>

        <div th:if="${#lists.isEmpty(remotePcs)}" class="mb-5 text-center text-secondary">등록된 원격 PC가 없습니다.</div>

        <div class="d-flex justify-content-end">
            <a th:href="@{/remote-pcs/download-server}" class="btn btn-success" target="_blank">
                <i class="fa-solid fa-plus me-2"></i>새 원격 PC 추가
            </a>
        </div>
    </div>
</div>
</body>
</html>