<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:--bs-bg-opacity="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: head ('원격 PC 뷰어')}">
    <title>MegaVNC</title>

</head>
<body class="bg-body-secondary">

<style>
    .container{
        max-width: 984px;
    }
</style>
<header th:replace="~{fragments/nav :: nav (${user.username})}"></header>

<input id="accessPassword" type="hidden" th:value="${accessPassword}"/>
<input id="status" type="hidden" th:value="${#strings.toString(status)}"/>
<input id="repeaterId" name="repeaterId" type="hidden" th:value="${repeaterId}"/>

<div class="container mt-5 mb-3">
    <a th:href="@{/remote-pcs}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left me-2"></i>원격 PC 목록</a>
</div>

<div class="container mb-3 d-flex flex-column">
    <div class="d-flex flex-row align-items-center text-nowrap bg-body rounded p-4">


        <button id="disconnect" class="btn btn-secondary me-2"><i class="fa-solid fa-link-slash me-2"></i>연결해제</button>
        <button class="btn btn-secondary me-2" id="fullscreen"><i class="fa-solid fa-expand me-2"></i>전체화면</button>
        <button class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#tools">
            <i class="fa-solid fa-gear"></i>
        </button>
    </div>
    <div id="tools" class="collapse mt-2 row">
        <div>
            <div class="bg-secondary bg-opacity-10 rounded p-3">
             <!--   <div class=" bg-body-tertiary py-2 px-3 d-flex flex-row  rounded  my-1">

                    <label for="qualityLevelInput">
                        <i class="fa-solid fa-paint-roller me-2"></i> 화면 품질
                    </label>
                    <div class="col px-3 ">
                        <input type="range" class="d-flex align-items-center form-range mx-3 " min="0" max="9" value="6"
                               step="1"
                               id="qualityLevelInput"/>
                    </div>
                </div>-->
                <div class="d-flex flex-row me-2 ">
                    <div class="col ">
                        <button class="btn btn-light my-1" id="pasteButton">
                            <i class="fa-solid fa-paste me-2"></i>클립보드 붙여넣기
                        </button>
                        <button class="btn btn-light my-1" id="captureButton">
                            <i class="fa-solid fa-camera me-2"></i>화면 캡처
                        </button>
                      <!--  <button class="btn btn-light my-1" id="ctrlAltDelButton">
                            <i class="fa-solid fa-wrench me-2"></i>Ctrl+Alt+Del
                        </button>
                        <button class="btn btn-light my-1" id="rebootButton">
                            <i class="fa-solid fa-rotate-right me-2"></i>원격 PC 재부팅
                        </button>
                        <button class="btn btn-light my-1" id="shutdownButton">
                            <i class="fa-solid fa-power-off me-2"></i>원격 PC 종료
                        </button>-->
                    </div>
                    <div style="width: 400px;" class="my-1">
                        <form id="uploadForm" action="/ftp" method="post" enctype="multipart/form-data"
                              class="d-flex flex-row">

                            <div class="col me-1">
                                <input type="file" class="form-control" name="file" id="fileInput">
                            </div>

                            <button id="uploadButton" class="btn btn-secondary" onclick="fileUpload();">
                                <i class="fas fa-file-upload me-2"></i>업로드
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
        <div id="screen" style="height: 600px" class="bg-secondary-subtle w-100 mw-100"></div>
</div>


<script type="module" th:src="@{/js/viewer/viewer.js}"></script>

<script>
    function fileUpload(){
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];

        if (file) {
            console.log('Selected file:', file);
            console.log('File name:', file.name);
            console.log('File type:', file.type);
            console.log('File size:', file.size);

            var param = {'file': file}
            var url = '/files/fileupup';

            ajax(param, url, "파일 업로드 완료");
        } else {
            return false;
        }
    }
</script>
</body>
</html>